@mixin create-columns ($columns) {
    @for $i from 1 through ($columns) {
        &--#{$i} {
            @include grid-span($i);

            &:before {
                content: '#{$i}';
                display: block;
                padding: $item-padding;
                background-color: $item-bg;
                color: $item-color;
                text-align: center;
            }
        }
    }
}
