.grid {
  margin-left: -1rem;
  margin-right: -1rem;
}

.grid:before, .grid:after {
  content: ' ';
  display: table;
}

.grid:after {
  clear: both;
}

@supports (display: flex) {
  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.grid__item {
  position: relative;
  min-height: 1px;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: hi;
  padding-right: hi;
}
